@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
  font-family: "Merriweather", serif;
  --spacing: 20px;
  --primary-color: #fbf4eb;
  --spacing_secondary: 100px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* La intención es que las letras sean más pequeñas en móvil */
@media (max-width: 900px) {
  .hero {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .hero .abtn {
    font-size: 16px;
  }
}


.hero {
  position: relative;
  background-image: url(./assets/Backgrounds/Background_header.jpg);
  min-height: 95vh;
  background-position: center;
  background-size: cover;
  width: auto;
  color: var(--primary-color);
  object-fit: cover;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  align-items: flex-start;
  justify-content: center;
  height: 95vh;
  text-align: justify;
}

#navlinks a {
  text-decoration: none;
  color: inherit;
}

#navlinks {
  list-style: none;
}

#navlinks a:hover {
  color: #a2a2a2bd;
}

#shopbag {
  list-style: none;
}

header > nav {
  display: flex;
  height: 5vh;
  background-color: #1b1a1f;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  height: fit-content;
  color: var(--primary-color);
  font-style: italic;
  text-decoration: none;
  list-style: none;
}

.Logo_tienda {
  height: 70px;
  width: auto;
}

header > nav > ul {
  display: flex;
  gap: var(--spacing);
  font-size: 20px;
  text-decoration: none;
}

@media (max-width: 900px) {
  #navlinks {
    display: none;
  }
}

/* Antes de esto se me cortaba la app en móvil y habia que hacer scroll lateral */
@media (max-width: 400px) {
  p,
  h1,
  h2,
  h3,
  form {
    width: 90vw;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .gallery > li > p,
  .gallery > li > a {
    font-size: 14px; /* o el tamaño que quieras */
  }
}


img,
section,
main,
header,
footer {
  max-width: 100%;
  height: auto;
}

.abtn {
  background-color: var(--primary-color);
  padding: 10px 16px;
  border-radius: 10px;
  color: #1b1a1f;
  text-decoration: none;
  font-size: 20px;
  z-index: 1;
  justify-content: left;
}

h1 {
  font-size: 42px;
  z-index: 1;
}

p {
  font-size: 24px;
  width: 50vw;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000a3;
  z-index: 0;
}

.Set_Header {
  display: flex;
  gap: var(--spacing_secondary);
  height: fit-content;
  flex-direction: row;
  padding: var(--spacing);
  background-color: #bfa6787b;
  font-size: 18px;
  justify-content: space-between;
}

.Metal_header {
  display: flex;
  gap: var(--spacing_secondary);
  height: fit-content;
  flex-direction: row;
  padding: var(--spacing);
  background-color: #6a6a6a43;
  font-size: 18px;
  justify-content: space-between;
}

.Resina_header {
  display: flex;
  gap: var(--spacing_secondary);
  height: fit-content;
  flex-direction: row;
  padding: var(--spacing);
  background-color: #5efa666a;
  font-size: 18px;
  justify-content: space-between;
}

.gallery {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: var(--spacing);
  margin: var(--spacing);
  gap: var(--spacing_secondary);
}

.gallery > li > img {
  border-radius: 10px;
  border: 1px solid rgba(14, 13, 13, 0.236);
  width: 100%;
  max-height: 400px;
  min-height: 300px;
  aspect-ratio: 1.1;
  object-fit: cover;
}

h3 {
  text-decoration: wavy;
  color: #070707;
}

.gallery > li > p {
  font-size: 16px;
}

.gallery > li > a {
  text-decoration: underline;
  color: inherit;
  padding-top: var(--spacing);
  margin-top: var(--spacing);
}

.Custom {
  position: relative;
  background-image: url(./assets/Backgrounds/Background_custom.webp);
  min-height: 70vh;
  background-position: center;
  background-size: cover;
  width: auto;
  color: var(--primary-color);
  object-fit: cover;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.Custom::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000005f;
  z-index: 0;
}

.Custom h2 {
  font-size: 42px;
  z-index: 1;
}

.Custom p {
  font-size: 24px;
  width: 50vw;
  z-index: 1;
}

.custom_dice {
  font-size: 16px;
  color: antiquewhite;
  width: 50vw;
  z-index: 1;
}

input {
  border-radius: 10px;
  padding: 5px;
  margin-right: var(--spacing);
}

#custom_button {
  border-radius: 10px;
  margin-top: 40px;
  background-color: var(--primary-color);
  padding: 10px 16px;
  color: #1b1a1f;
  text-decoration: none;
  font-size: 18px;
  z-index: 1;
}

.footer {
  display: flex;
  background-color: #2e2d32;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--spacing);
  height: fit-content;
  color: var(--primary-color);
  font-style: italic;
  text-decoration: none;
  list-style: none;
}

.Contact,
.Legal,
.Social,
.Secciones {
  list-style: none;
  gap: var(--spacing);
}

.Title_footer {
  font-size: 26px;
  display: block;
  margin-bottom: 15px;
}

footer li:not(.Title_footer) {
  margin-bottom: 5px;
}

.footer > .Social > img {
  height: 50px;
  width: 50px;
}

.Social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
}

.social_logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
}

footer a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 5px;
}

.section_links {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}



/* Para pantallas pequeñas <900px */
@media (max-width: 900px) {
  footer li:not(.Title_footer) {
    display: none;
  }

  .Title_footer {
    font-size: 12px;
  }
}

/* Para pantallas muy pequeñas <400px */
@media (max-width: 400px) {
  p,
  h1,
  h2,
  h3,
  form {
    width: 90vw;
    font-size: 10px;
  }

  .Title_footer {
    font-size: 10px;
  }
}



